*{
    margin: 0;
    padding: 0;
}
/* Main css */
.container-box{
    height: 100vh;
    display: grid;
}
.box{
    padding: 2px dotted lightcoral;
}
.box-1{
    display: gird;
    grid-template-rows: repeat(2,1fr);
    
    /* background-color: blueviolet; */
}
.sub-box1{
    height: 50%;
    padding: 2px solid green;
}
.box-a{
    background-color: brown;
}
.box-b{
    background-color: blueviolet;
}

.box-2{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    height: 100%;
    width: 100%;
}
.sub-box2{
    padding: 2px solid greenS;
    /* width: 25%; */
}
.box-c{
    background-color: bisque;
}
.box-d{
    background-color: rgb(190, 135, 68);
}
.box-e{
    background-color: rgb(71, 200, 86);
}
.box-f{
    background-color: rgb(71, 157, 176);
}
.box-3{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    height: 100%;
    width: 100%;
}
.box-g{
    background-color: rgb(27, 189, 60);
}
.box-h{
    background-color: rgb(176, 71, 71);
}
.box-i{
    background-color: rgb(179, 95, 35);
}
/* responsive styles */
@media  screen and (max-width:500px) {
    .container-box{
        grid-template-rows:repeat(3,1fr);
    }  
    .box-2{
        grid-template-columns: repeat(4,1fr);
    }
}

@media  screen and (min-width:501px) and (max-width: 1000px) {
    .container-box{
        grid-template-columns:repeat(3,1fr);
        background-color: aqua;


    }  
    .box-2{
        grid-template-rows: repeat(4,1fr);
        height: 100%;
    }
}
@media  screen and (min-width:1001px) {
    .container-box{
        grid-template-columns:repeat(3,1fr);
        background-color: rgb(150, 173, 74);

    }
    .box-2{
        grid-template-columns: repeat(4,1fr)
    }
}