*{
    margin: 0;
    padding: 0;
}
.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 5px;
    /* height: 100vh; */
    width: 100%;
    margin-top: 20px;
    
    
}
.date {
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(108, 179, 227);
   display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}